@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@100&family=Poppins:wght@100;200;300&display=swap');

@media screen and (max-width: 480px){

  .searchTab{
    border-radius: 5px;
    border-color: #2f2f41;
    width: 35%;
  }

.navbar-toggler-icon{
  color: white;
}

  .html-gif{
    max-width: 70vw;
    height: auto;

    /* width: 400px;
    height: 400px;
    margin-bottom: 0;
    padding-bottom: 0; */
  }

  /* .card-container{
  
  } */

  .card h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .card p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .content1{
    background-color: #1c1c1c;
    width: 100%;
    height: 100vh;
}
 
 .code-editor-section{
  background-color: #232222;
  color: white;
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 120px;
  
}

.html-editor-gif{
  max-width: 70vw;
  height: auto;
/* 
  height: 350px;
  width: 400px */
}

.btn-html-editor-gif{
  background-color:  #df4759;
  color: white;
  width: 100%;
  border-radius: 5px;
  border: none;
}





 }





body{
  background-color: black;
  margin: 0px;
}

.navbar-brand h4{
  font-family: 'Alfa Slab One', cursive;;
}

.searchTab{
  border-radius: 5px;
  border-color: #2f2f41;
}

.icon{
  margin-left: 10px;
}

#magnifyingGlass{
  color: #cccc;
}

#magnifyingGlass:hover{
  color: orange;
}

.navbar{
 background-color: transparent;
}

.navbar ul li a{
  color: white;
}

.navbar ul li a:hover{
  color: orange;
}

.navbar ul li a:hover::before{
  color: orange;
}

.navbar ul li a:hover::active{
  color: orange;
}

.navbar ul li a:hover::after{
  color: orange;
  text-decoration: none;
}

.changeColor{
  background-color:  rgba(0, 0, 0, 0.5);
}

.nav-item{
  margin-left: 10px;
  color: white;
}

/* .navbar ul li a.changeTextColor{
  color: rgb(105, 95, 95);
} */

.nav-link{
  text-decoration: none;
  color: white;
 
}

.nav-link:hover::active{
  text-decoration: none;
  color: white;
}

.nav-link:hover::after{
  text-decoration: none;
  color: white;

}

.navbar-toggler{
  color: white;
}

.dropdown-menu{
  background-color:  rgba(0, 0, 0, 0.5);
}


.btn-html{
  color: white;
  text-decoration: none;
}

.btn-html:hover{
  color: orange;
  border: #1c1c1c;
}

.btn-signIn{
  background-color:  #df4759;
  padding-left: 1em;
  padding-right: 1rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1.8px;
  margin-left: 10px;
  width: 100%;
}

.btn-signIn:hover{
  background-color: white;
  color: orange;
  /* filter: brightness(85%); */
}



/* hero page */
.hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./photos/laptopunsplash.jpg');
    background-size: 1600px;
    opacity: 0.;
    width: 100%;
    height: 100vh;
}


.hero-banner h1 {
  font-size: 3.75rem;
}
.hero-banner .btn {
    position: relative;
    overflow: hidden;
    z-index: 9;
}
/* .hero-banner .btn-primary {
    color: #2f2f41;
    background-color: rgba(1, 164, 121, 0.1);
    border-color: #01a479;
} */
.hero-banner .btn:before {
    content: "";
    background: #d32439;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.hero-banner .btn:hover:before {
    width: 100%;
}



.content1{
    background-color: #1c1c1c;
    width: 100%;
    height: 100vh;
}


.card p{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card h1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 150px;
}


.btn-links{
  background-color:  #df4759;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1.8px;
  margin-left: 10px;
  width: 100%;
  padding: .60rem 3.5rem;
}

.btn-linksVideoTutorial{
  background-color:  #df4759;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1.8px;
  margin-left: 10px;
  width: 100%;
  padding: .60rem 2.9rem;
}

.btn-linksReferences{
  background-color:  #df4759;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1.8px;
  margin-left: 10px;
  width: 100%;
  padding: .60rem 3.4rem;
}


.btn-links:hover{
  color: orange;
  background-color: white;
}

.btn-linksReferences:hover{
color: orange;
background-color: white;
}

.btn-linksVideoTutorial:hover{
  color: orange;
 background-color: white;
}

.code-editor-section{
  background-color: #232222;
  color: white;
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn-html-editor-gif{
  background-color:  #df4759;
  padding-left: 1em;
  padding-right: 1rem;
  padding-top: .3em;
  padding-bottom: .3em;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1.8px;
  margin-left: 10px;
}

.btn-html-editor-gif:hover{
  background-color: white;
  color: orange;
  filter: brightness(85%);
}

.btn-tryIt{
  background-color:  #df4759;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1.8px;
  margin-left: 10px;
  width: 100%;
  padding: .60rem 5rem;
}
/* .card-web{
  padding-top: 250px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 250px;
} */


/* photos */
/* #fade_out {
  position:relative;
  margin:0 auto;
}

#fade_out img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

#fade_out img.top:hover {
  opacity:0;
} */
